<div class="review">

<div class="review-rating" data-score="<%= product_review.rating %>"></div>
<p> <%= time_ago_in_words product_review.created_at %> ago </p>
<p class="review-comment"> <%= product_review.comment %> </p>

  <% if user_signed_in? %>

    <% if product_review.user_id == current_user.id %>

    <div class="links btn-group">
      <%= link_to "Edit", edit_book_product_review_path(product_review.book, product_review), class:"btn btn-custom" %>
      <%= link_to "Delete", book_product_review_path(product_review.book, product_review), method: :delete, data: {
        confirm: "Are you sure?"}, class:"btn btn-custom" %>
    </div>
    <% end %>
  <% end %>
</div>
